section.brand {
  position: relative;
  margin-bottom: 60px;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  section.brand {
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 992px) {
  section.brand {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  section.brand {
    margin-bottom: 270px;
  }
}

.brand h2 {
  font-size: 20px;
  line-height: 28px;
}
@media only screen and (min-width: 576px) {
  .brand h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .brand h2 {
    font-size: 28px;
    line-height: 34px;
  }
}

.brand p {
  font-size: 12px;
  line-height: 18px;
}
@media only screen and (min-width: 576px) {
  .brand p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .brand p {
    font-size: 20px;
    line-height: 26px;
  }
}

.brand .caption__title {
  margin-bottom: 16px;
  max-width: 366px;
}
@media only screen and (min-width: 576px) {
  .brand .caption__title {
    margin: 0 auto 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .brand .caption__title {
    margin: 0 0 24px;
    text-align: left;
  }
}

.brand .content {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .brand .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: -10%;
  }
}

.brand .tape2 {
  display: block;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 77px;
  right: -30px;
  max-width: 142px;
}
.brand .tape2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 576px) {
  .brand .tape2 {
    top: 0;
    right: 0;
    max-width: 172px;
  }
}
@media only screen and (min-width: 992px) {
  .brand .tape2 {
    max-width: 252px;
  }
}
@media only screen and (min-width: 1200px) {
  .brand .tape2 {
    width: 35%;
    bottom: 10%;
    right: 0;
    max-width: 292px;
  }
}

.brand .cup-mini {
  display: block;
  height: auto;
  max-width: 266px;
  position: relative;
  left: -41px;
  margin-bottom: 47px;
}
.brand .cup {
  display: none;
}
@media only screen and (min-width: 576px) {
  .brand .cup-mini {
    display: none;
  }
  .brand .cup {
    width: 50%;
    max-width: 320px;
    display: block;
    height: auto;
    margin-bottom: 47px;
    margin-left: 16%;
  }
}
@media only screen and (min-width: 992px) {
  .brand .cup {
    max-width: 551px;
    display: block;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .brand .cup {
    margin-left: 0;
    display: block;
    height: auto;
    margin-bottom: 0;
  }
}

.brand .inner {
  max-width: 573px;
}
@media only screen and (min-width: 576px) {
  .brand .inner {
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .brand .inner {
    padding-left: 26px;
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .brand .inner {
    margin: 0;
    padding-left: 53px;
    text-align: left;
  }
}
section.collections {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.collections {
    margin-bottom: 150px;
  }
}

.collections h2 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
  .collections h2 {
    margin-bottom: 40px;
  }
}

.collections__grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 30px;
}
@media only screen and (min-width: 576px) {
  .collections__grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .collections__grid {
    grid-row-gap: 40px;
    grid-column-gap: 34.55px;
    margin-bottom: 35px;
  }
}

.collection__card {
  max-width: 158px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s box-shadow ease;
}
.collection__card:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 6px 32px rgba(0, 0, 0, 0.08);
  transition: 0.3s box-shadow ease;
}
@media only screen and (min-width: 1200px) {
  .collection__card {
    max-width: 400px;
    padding: 35px 40px 27px;
  }
}
.collection__card .image {
  width: 100%;
  max-height: 113px;
  margin-bottom: 7px;
  overflow: hidden;
}
.collection__card .image img {
  width: 100%;
  max-height: 113px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .collection__card .image img {
    min-height: 230px;
  }
}
@media only screen and (min-width: 1200px) {
  .collection__card .image {
    max-height: 230px;
    margin-bottom: 16px;
    max-width: 279px;
  }
}
.collection__card .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .collection__card .title {
    font-size: 16px;
    line-height: 24px;
  }
}

.collections__go-catalog {
  display: flex;
  justify-content: center;
}
section.construction {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.construction {
    margin-bottom: 150px;
  }
}

.construction h2 {
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .construction h2 {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .construction h2 {
    margin-bottom: 70px;
  }
}

.construction__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .construction__items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.construction__item {
  position: relative;
  width: 100%;
  max-width: 428px;
}
@media only screen and (min-width: 1200px) {
  .construction__item {
    max-width: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.construction__item img, .construction__item video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.construction__item .text {
  position: absolute;
  left: 0;
}

.construction__item.wave {
  margin-bottom: 25px;
}
.construction__item.wave img, .construction__item.wave video, .construction__item.wave .text {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.construction__item.wave video {
  border-radius: 20px;
}
.construction__item.wave .text {
  bottom: 0;
  margin-right: 20px;
}
.construction__item.wave .text .title, .construction__item.wave .text .description {
  background: #D7E9F8;
}
@media only screen and (min-width: 1200px) {
  .construction__item.wave {
    width: 100%;
    margin-bottom: 70px;
  }
  .construction__item.wave .text {
    left: 665px;
    top: 124px;
    max-width: 511px;
  }
  .construction__item.wave .text .title {
    font-size: 36px;
    line-height: 28px;
  }
  .construction__item.wave .text .description {
    font-size: 24px;
    line-height: 150%;
  }
  .construction__item.wave img, .construction__item.wave video {
    max-width: 677px;
    margin-left: 50px;
  }
}

.construction__item.second {
  margin-bottom: 24px;
}
.construction__item.second .text {
  margin-right: 40px;
  bottom: 41px;
}
@media only screen and (min-width: 1200px) {
  .construction__item.second {
    margin-bottom: 0;
    padding-left: 127px;
    margin-top: 140px;
  }
  .construction__item.second .text {
    max-width: 340px;
    bottom: 38.5px;
    margin-right: 48.5px;
    right: 0;
    left: unset;
  }
  .construction__item.second img {
    max-width: 491px;
  }
}

.construction__item.third .text {
  bottom: 46px;
  margin-right: 46px;
}
@media only screen and (min-width: 1200px) {
  .construction__item.third {
    display: flex;
    justify-content: flex-end;
    padding-right: 110px;
    margin-bottom: 140px;
  }
  .construction__item.third .text {
    max-width: 335px;
    top: 48px;
    right: 138px;
    left: unset;
  }
  .construction__item.third img {
    max-width: 467px;
  }
}
section.construction {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.construction {
    margin-bottom: 150px;
  }
}

.construction h2 {
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .construction h2 {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .construction h2 {
    margin-bottom: 70px;
  }
}

.construction__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .construction__items {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.construction__item {
  position: relative;
  width: 100%;
  max-width: 428px;
}
@media only screen and (min-width: 1200px) {
  .construction__item {
    max-width: unset;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.construction__item img, .construction__item video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.construction__item .text {
  position: absolute;
  left: 0;
}

.construction__item.wave {
  margin-bottom: 25px;
}
.construction__item.wave img, .construction__item.wave video, .construction__item.wave .text {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.construction__item.wave video {
  border-radius: 20px;
}
.construction__item.wave .text {
  bottom: 0;
  margin-right: 20px;
}
.construction__item.wave .text .title, .construction__item.wave .text .description {
  background: #D7E9F8;
}
@media only screen and (min-width: 1200px) {
  .construction__item.wave {
    width: 100%;
    margin-bottom: 70px;
  }
  .construction__item.wave .text {
    left: 665px;
    top: 124px;
    max-width: 511px;
  }
  .construction__item.wave .text .title {
    white-space: nowrap;
    font-size: 36px;
    line-height: 28px;
  }
  .construction__item.wave .text .description {
    font-size: 24px;
    line-height: 150%;
  }
  .construction__item.wave img, .construction__item.wave video {
    max-width: 677px;
    margin-left: 50px;
  }
}

.construction__item.second {
  margin-bottom: 24px;
}
.construction__item.second .text {
  margin-right: 40px;
  bottom: 41px;
}
@media only screen and (min-width: 1200px) {
  .construction__item.second {
    margin-bottom: 0;
    padding-left: 127px;
    margin-top: 140px;
  }
  .construction__item.second .text {
    max-width: 340px;
    bottom: 38.5px;
    margin-right: 48.5px;
    right: 0;
    left: unset;
  }
  .construction__item.second img {
    max-width: 491px;
  }
}

.construction__item.third .text {
  bottom: 46px;
  margin-right: 46px;
}
@media only screen and (min-width: 1200px) {
  .construction__item.third {
    display: flex;
    justify-content: flex-end;
    padding-right: 110px;
    margin-bottom: 140px;
  }
  .construction__item.third .text {
    max-width: 335px;
    top: 48px;
    right: 138px;
    left: unset;
  }
  .construction__item.third img {
    max-width: 467px;
  }
}
.custom-select {
  width: 100%;
}
.custom-select .select2-container .select2-selection--single {
  height: 48px;
}
.custom-select .select2-container .select2-selection--multiple {
  display: flex;
}
@media (max-width: 991px) {
  .custom-select .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #22262f;
  }
}
.custom-select .select2-container--default .select2-selection {
  background: #ffffff;
  border: 1px solid rgba(34, 38, 47, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
}
.custom-select .select2-container--default .select2-selection .select2-selection__rendered {
  line-height: 46px;
  height: 46px;
  padding-left: 16px;
  padding-right: 32px;
  font-size: 14px;
  color: #6b717e;
}
.custom-select .select2-container .select2-search--inline .select2-search__field {
  margin: 0;
  display: flex;
  float: none;
}
.custom-select.selected .select2-container--default .select2-selection .select2-selection__rendered {
  color: #22262f;
}
.custom-select .select2-container--default .select2-selection .select2-selection__arrow {
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.66699 5.99998L4.00033 4.66665L8.00033 8.66665L12.0003 4.66665L13.3337 5.99998L8.00033 11.3333L2.66699 5.99998Z' fill='%2322262F'/%3E%3C/svg%3E%0A");
}
.custom-select .select2-container--default .select2-selection .select2-selection__arrow b {
  display: none;
}
.custom-select .select2-container--open .select2-selection .select2-selection__arrow {
  -webkit-transform: translateY(-8px) rotate(180deg);
          transform: translateY(-8px) rotate(180deg);
}
.custom-select .select2-container--default .select2-selection--multiple::after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.66699 5.99998L4.00033 4.66665L8.00033 8.66665L12.0003 4.66665L13.3337 5.99998L8.00033 11.3333L2.66699 5.99998Z' fill='%2322262F'/%3E%3C/svg%3E%0A");
}
.custom-select .select2-container--default .select2-selection--multiple::after {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.custom-select .select2-container--open .select2-selection--multiple::after {
  -webkit-transform: translateY(-8px) rotate(180deg);
          transform: translateY(-8px) rotate(180deg);
}
.custom-select__dropdown.select2-dropdown {
  top: 4px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 6px 32px rgba(34, 38, 47, 0.06);
  border-radius: 6px;
  z-index: 1111;
}
@media (max-width: 991px) {
  .custom-select__dropdown.select2-dropdown {
    top: 0;
    box-shadow: none;
    background: #f3f6f9;
  }
}
.custom-select__dropdown .select2-results > .select2-results__options {
  max-height: 376px;
  padding: 8px 0;
}
@media (max-width: 991px) {
  .custom-select__dropdown .select2-results > .select2-results__options {
    max-height: 185px;
    padding: 0;
  }
}
.custom-select__dropdown .select2-results__option {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}
@media (max-width: 991px) {
  .custom-select__dropdown .select2-results__option {
    padding: 16px 20px;
  }
}
.custom-select__dropdown .select2-results__option--highlighted[aria-selected] {
  background: #f3f6f9;
  color: #22262f;
}
.custom-select__dropdown .select2-results__option[aria-selected=true] {
  background: #f3f6f9;
}
.custom-select__dropdown .select2-results__option[aria-selected=true]::before {
  background: #d7e9f8 url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.60589 0.508504C8.78197 0.340865 9.01629 0.248187 9.25941 0.250027C9.50252 0.251866 9.73542 0.348079 9.90894 0.518363C10.0825 0.688648 10.1831 0.919684 10.1895 1.16272C10.1959 1.40576 10.1077 1.64179 9.94339 1.821L4.95589 8.0585C4.87012 8.15088 4.76662 8.22501 4.65155 8.27646C4.53649 8.32792 4.41222 8.35564 4.2862 8.35798C4.16017 8.36031 4.03497 8.3372 3.91808 8.29004C3.80119 8.24288 3.69501 8.17264 3.60589 8.0835L0.298386 4.776C0.206277 4.69018 0.132399 4.58668 0.0811593 4.47168C0.0299194 4.35668 0.00236688 4.23254 0.0001459 4.10666C-0.00207508 3.98078 0.021081 3.85574 0.0682323 3.73901C0.115384 3.62227 0.185564 3.51623 0.274588 3.42721C0.363611 3.33818 0.469653 3.268 0.586389 3.22085C0.703124 3.1737 0.82816 3.15054 0.954039 3.15276C1.07992 3.15498 1.20406 3.18254 1.31906 3.23378C1.43406 3.28502 1.53756 3.3589 1.62339 3.451L4.24089 6.06725L8.58214 0.536004C8.58995 0.52638 8.5983 0.517199 8.60714 0.508504H8.60589Z' fill='%2322262F'/%3E%3C/svg%3E%0A") 4px 50% no-repeat;
  border-color: #d7e9f8;
}
.custom-select__dropdown--multiple .select2-results__option[aria-selected=true] {
  background: #fff;
}
@media (max-width: 991px) {
  .custom-select__dropdown--multiple .select2-results__option[aria-selected=true] {
    background: #f3f6f9;
  }
}
.custom-select__dropdown--multiple .select2-results__option[aria-selected=true]:hover {
  background-color: #f3f6f9;
}
.custom-select__dropdown--multiple .select2-results__option {
  display: flex;
  align-items: center;
}
.custom-select__dropdown--multiple .select2-results__option::before {
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: 1px solid rgba(34, 38, 47, 0.4);
  border-radius: 6px;
  background: transparent;
}
.custom-select__color {
  display: flex;
  align-items: center;
}
.custom-select__color img {
  margin-right: 16px;
}
.custom-select--modal .select2-container--default .select2-selection {
  border: none;
  border-bottom: 1px solid rgba(34, 38, 47, 0.1);
}
.custom-select--modal .select2-container .select2-selection--single {
  height: 56px;
}
.custom-select--modal .select2-container--default .select2-selection .select2-selection__rendered {
  padding-left: 20px;
  height: 55px;
  line-height: 55px;
  color: #22262f;
}
.custom-select--modal .select2-container .select2-search--inline .select2-search__field {
  color: #22262f;
}
.custom-select--modal .select2-container .select2-search--inline .select2-search__field::-webkit-input-placeholder {
  color: #22262f;
}
.custom-select--modal .select2-container .select2-search--inline .select2-search__field:-ms-input-placeholder {
  color: #22262f;
}
.custom-select--modal .select2-container .select2-search--inline .select2-search__field::placeholder {
  color: #22262f;
}
.custom-select--modal .select2-container--default .select2-selection .select2-selection__arrow {
  right: 20px;
}
.custom-select--modal .select2-container--default .select2-selection--multiple::after {
  right: 20px;
}
section.featured-catalog {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.featured-catalog {
    margin-bottom: 150px;
  }
}

.featured-catalog h1 {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog h1 {
    margin-bottom: 40px;
  }
}

.featured-catalog {
  margin: 64px 0;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog {
    margin: 120px 0;
  }
}
.featured-catalog__trigger {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(34, 38, 47, 0.1);
  border-radius: 6px;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__trigger {
    display: none;
  }
}
.featured-catalog__trigger svg {
  margin-left: 8px;
}
.featured-catalog__filters {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__filters {
    margin: 40px 0;
    background: #f3f6f9;
    padding: 16px;
    display: grid;
    grid-template-columns: 74% 26%;
  }
}
.featured-catalog__selects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 194px));
  grid-gap: 19px;
}
.featured-catalog__sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 16px;
}
.featured-catalog__sort-text {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-right: 8px;
}
.featured-catalog__sort-input {
  flex-shrink: 0;
  max-width: 140px;
  width: 100%;
}
.featured-catalog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  margin-top: 16px;
}
@media only screen and (min-width: 768px) {
  .featured-catalog__items {
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .featured-catalog__items {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
}
.featured-catalog__item {
  background: #ffffff;
  border: 1px solid rgba(34, 38, 47, 0.1);
  border-radius: 6px;
  padding: 8px;
  padding-top: 4px;
  transition: box-shadow 0.2s;
  height: 100%;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__item {
    padding: 16px;
    padding-top: 8px;
  }
}
.featured-catalog__item:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 6px 32px rgba(0, 0, 0, 0.08);
}
.featured-catalog__item-image {
  margin: 0 auto;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.featured-catalog__item-image img {
  max-width: 100%;
}
.featured-catalog__item-name {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 4px;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__item-name {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 8px;
  }
}
.featured-catalog__item-price {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__item-price {
    font-size: 22px;
    line-height: 1.63;
  }
}
.featured-catalog__item-price-new {
  color: #e91c2d;
}
.featured-catalog__item-price-old {
  text-decoration: line-through;
  font-size: 12px;
  line-height: 14px;
  margin-left: 4px;
  color: #6b717e;
}
@media only screen and (min-width: 1200px) {
  .featured-catalog__item-price-old {
    font-size: 14px;
    line-height: 16px;
    margin-left: 8px;
  }
}
.featured-catalog__item:hover {
  color: inherit;
}

ul.select2-selection__rendered li {
  padding-left: 16px !important;
}

.select2-container--default .select2-selection--multiple {
  padding: 0;
}

.custom-select .select2-container--default .select2-selection ul.select2-selection__rendered {
  padding: 0;
}

.select2-search.select2-search--inline {
  line-height: 46px;
  height: 46px;
  padding-left: 16px;
  padding-right: 32px;
  font-size: 14px;
  color: #6b717e;
  display: flex;
}

.modal-open {
  overflow: hidden;
}

.mobile-filters {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: #fff;
}
.mobile-filters .select2-search.select2-search--inline {
  color: #22262F;
  height: 55px;
  padding-left: 20px;
}
.mobile-filters .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #22262F;
}
.mobile-filters.open {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.mobile-filters__inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-filters__content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}
.mobile-filters__content-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile-filters__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
}
.mobile-filters__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 16px 20px;
  padding-bottom: 32px;
}
.mobile-filters__name {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.mobile-filters__btn {
  border: none;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
}
.mobile-filters__reset {
  background-color: transparent;
  color: #6b717e;
}
.mobile-filters__apply {
  color: #fff;
  background: #e91c2d;
}
section.format {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.format {
    margin-bottom: 150px;
  }
}

.format h2 {
  margin-bottom: 31px;
}
@media only screen and (min-width: 1200px) {
  .format h2 {
    margin-bottom: 22px;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .tabs-list {
    order: -1;
    margin-bottom: 21px;
  }
}
.tabs-list__link {
  padding: 15px;
  position: relative;
  display: block;
  text-decoration: none;
  outline: 0;
  transition: 0.3s color ease;
  color: rgba(34, 38, 47, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  background: #FFFFFF;
  border-radius: 6px;
}
@media only screen and (min-width: 992px) {
  .tabs-list__link {
    padding: 36px 12px 34px;
    max-width: 150px;
    height: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .tabs-list__link {
    padding: 36px 25px 34px;
    max-width: 180px;
  }
}
.tabs-list__link:before {
  width: 0;
  height: 2px;
  opacity: 0;
  position: absolute;
  transition: 0.3s width ease, 0.3s opacity ease, 0.3s left ease;
  top: 100%;
  left: 50%;
  margin-top: -1px;
  display: block;
  content: "";
}
.tabs-list__link--active, .tabs-list__link:hover {
  color: #22262F;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 6px 32px rgba(0, 0, 0, 0.08);
}
@media only screen and (min-width: 992px) {
  .tabs-list__link .item__title {
    margin-bottom: 10px;
  }
}
.tabs-list__link .item__subtitle {
  display: none;
  font-size: 10px;
  line-height: 150%;
  font-weight: normal;
  max-width: 130px;
  margin: 0 auto;
}
@media only screen and (min-width: 992px) {
  .tabs-list__link .item__subtitle {
    display: block;
  }
}
.tabs-list__item:last-child .tabs-list__link {
  padding: 15px 3px;
}
@media only screen and (min-width: 992px) {
  .tabs-list__item:last-child .tabs-list__link {
    padding: 36px 0 34px;
  }
}

.tab {
  display: none;
}
.tab--active {
  display: block;
}
.tab .tab___image {
  width: 100%;
  max-width: 428px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
.tab .tab___image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.tab .tab__text {
  font-size: 12px;
  line-height: 18px;
  max-width: 274px;
  text-align: center;
  margin: 0 auto 6px;
}
@media only screen and (min-width: 1200px) {
  .tab .tab__image {
    max-width: 684px;
    margin-bottom: 0;
  }
  .tab .tab__text {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .section_first {
    margin-top: 228px;
  }
}

section.main-block {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.main-block {
    margin-bottom: 150px;
  }
}

.main-block__content {
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__content {
    align-items: center;
  }
}

.main-block__image {
  max-width: 428px;
}
.main-block__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .main-block__image {
    max-width: 667px;
  }
}

.main-block__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .main-block__title {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-block__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  .main-block__text {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .main-block__text {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block__text {
    text-align: left;
    font-weight: normal;
    font-size: 34px;
    line-height: 150%;
    margin-bottom: 40px;
  }
}

.main-block__button {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__button {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__info {
    max-width: 613px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__info {
    max-width: 613px;
    order: -1;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__info {
    margin-bottom: 23px;
  }
}
.main-block--type3 .main-block__title {
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 31px;
  }
}
.main-block--type3 .main-block__text {
  font-weight: 300;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }
}
.main-block--type3 .main-block__image {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__image {
    margin-bottom: 38px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__button {
    justify-content: center;
  }
}
section.main-block {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.main-block {
    margin-bottom: 150px;
  }
}

.main-block__content {
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__content {
    align-items: center;
  }
}

.main-block__image {
  max-width: 428px;
}
.main-block__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .main-block__image {
    max-width: 667px;
  }
}

.main-block__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .main-block__title {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-block__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  .main-block__text {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .main-block__text {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block__text {
    text-align: left;
    font-weight: normal;
    font-size: 34px;
    line-height: 150%;
    margin-bottom: 40px;
  }
}

.main-block__button {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__button {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__info {
    max-width: 613px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__info {
    max-width: 613px;
    order: -1;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__info {
    margin-bottom: 23px;
  }
}
.main-block--type3 .main-block__title {
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 31px;
  }
}
.main-block--type3 .main-block__text {
  font-weight: 300;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }
}
.main-block--type3 .main-block__image {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__image {
    margin-bottom: 38px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__button {
    justify-content: center;
  }
}
section.main-block {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.main-block {
    margin-bottom: 150px;
  }
}

.main-block__content {
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__content {
    align-items: center;
  }
}

.main-block__image {
  max-width: 428px;
}
.main-block__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .main-block__image {
    max-width: 667px;
  }
}

.main-block__title {
  margin-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .main-block__title {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-block__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  .main-block__text {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .main-block__text {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block__text {
    text-align: left;
    font-weight: normal;
    font-size: 34px;
    line-height: 150%;
    margin-bottom: 40px;
  }
}

.main-block__button {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  .main-block__button {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type1 .main-block__info {
    max-width: 613px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__content {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type2 .main-block__info {
    max-width: 613px;
    order: -1;
  }
}

@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__info {
    margin-bottom: 23px;
  }
}
.main-block--type3 .main-block__title {
  font-weight: 500;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 31px;
  }
}
.main-block--type3 .main-block__text {
  font-weight: 300;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }
}
.main-block--type3 .main-block__image {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__image {
    margin-bottom: 38px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-block--type3 .main-block__button {
    justify-content: center;
  }
}
section.organization {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.organization {
    margin-bottom: 150px;
  }
}

.organization h2 {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1200px) {
  .organization h2 {
    margin-bottom: 74px;
  }
}

.organization__items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .organization__items {
    flex-direction: row;
  }
}

.organization__item {
  width: 74%;
  max-width: 280px;
  position: relative;
}
.organization__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.organization__item .text {
  position: absolute;
  left: 0;
  bottom: 27px;
  font-size: 12px;
  padding: 7.5px;
  line-height: 18px;
  background: #fff;
}
@media only screen and (min-width: 992px) {
  .organization__item .text {
    font-size: 16px;
    line-height: 150%;
    padding: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .organization__item .text {
    font-size: 22px;
    line-height: 150%;
    padding: 30px;
  }
}
@media only screen and (min-width: 576px) {
  .organization__item {
    max-width: 408px;
  }
}
@media only screen and (min-width: 1200px) {
  .organization__item {
    max-width: 564px;
  }
}

.place-left {
  margin-bottom: 20px;
}
.place-left .text {
  margin-right: 20px;
}
@media only screen and (min-width: 992px) {
  .place-left {
    margin-bottom: 134px;
  }
  .place-left .text {
    bottom: 69px;
    margin-right: 127px;
  }
}

.place-right {
  margin-left: auto;
}
.place-right .text {
  position: absolute;
  right: 0;
  bottom: 20px;
  margin-left: 53px;
  margin-right: 0;
}
@media only screen and (min-width: 992px) {
  .place-right .text {
    margin-left: 188px;
  }
}
@media only screen and (min-width: 992px) {
  .place-right {
    margin-top: 134px;
  }
  .place-right .text {
    bottom: 32px;
    margin-left: 144px;
  }
}
@media only screen and (min-width: 1200px) {
  .place-right .text {
    margin-left: 188px;
  }
}
section.reliability {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.reliability {
    margin-bottom: 150px;
  }
}

.reliability h2 {
  margin-bottom: 28px;
}
@media only screen and (min-width: 1200px) {
  .reliability h2 {
    margin-bottom: 45.26px;
  }
}

@media only screen and (min-width: 1200px) {
  .reliability__sticky {
    width: 100%;
    position: absolute;
    top: 40%;
  }
}

.reliability .scroller {
  display: grid;
  grid-template-columns: 200px 200px 208px 227px;
  grid-gap: 28px;
  grid-auto-flow: column;
}
.reliability .scroller.row {
  margin: 0;
  overflow-x: auto;
}
@media only screen and (min-width: 1200px) {
  .reliability .scroller.row {
    overflow-x: unset;
  }
}
.reliability .scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media only screen and (min-width: 768px) {
  .reliability .scroller {
    grid-gap: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .reliability .scroller {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  ol.scroller {
    list-style: none;
  }
}

.reliability__item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .reliability__item {
    flex-direction: row;
    justify-content: space-between;
  }
  .reliability__item:not(:last-child) {
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .reliability__item-left {
    position: relative;
    z-index: 1;
    min-width: 378px;
    margin-right: 176px;
  }
}
.reliability__item-right {
  order: -1;
}
@media only screen and (min-width: 1200px) {
  .reliability__item-right {
    order: unset;
  }
}
.reliability__item .image {
  margin-bottom: 20px;
  max-width: 200px;
}
.reliability__item .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .reliability__item .image {
    max-width: 584px;
  }
}
.reliability__item .text .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 7px;
  margin-left: 22px;
}
@media only screen and (min-width: 1200px) {
  .reliability__item .text .title {
    font-size: 22px;
    line-height: 28px;
    margin-left: 0;
    margin-bottom: 16px;
  }
}
.reliability__item .text .description {
  font-size: 14px;
  line-height: 150%;
}
@media only screen and (min-width: 1200px) {
  .reliability__item .text .description {
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1200px) {
  .reliability .scroller.row.reliability__wrapper {
    margin: 0 54px;
    display: flex;
    flex: 1;
  }

  .reliability__item {
    height: 50vh;
  }

  .reliability__item-right.scroller {
    display: flex;
    align-items: center;
  }
}
section.reviews {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.reviews {
    margin-bottom: 150px;
  }
}

.reviews h2 {
  text-align: center;
}

.reviews .slide {
  position: relative;
  text-align: left;
  padding: 24px;
  min-height: auto;
  margin: 9px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 6px 16px rgba(0, 0, 0, 0.08);
}
@media only screen and (min-width: 1200px) {
  .reviews .slide {
    margin: 9px 30px;
  }
}
.reviews .slide:after {
  content: url(/img/icons/quot.svg);
  position: absolute;
  top: -33px;
  right: 0;
  color: #E91C2E;
  z-index: 2;
}
.reviews .slide__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.reviews .slide__text {
  font: 16px/1.5 "Inter", sans-serif;
}
.reviews .slide__text:last-child {
  margin-bottom: 0;
}
.reviews .stars {
  margin-bottom: 18px;
}
.reviews .stars li {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(/img/icons/star.svg) no-repeat center center/contain;
}
.reviews .stars li:not(:last-child) {
  margin-right: 5px;
}
.reviews .slick-list {
  padding-top: 55px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .reviews .slick-list {
    padding-top: 50px;
  }
}
.reviews .slick-track {
  display: flex !important;
}
.reviews .slick-slide {
  height: inherit !important;
}
.reviews .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  list-style: none;
}
.reviews .slick-dots li {
  margin: 0 10px;
}
.reviews .slick-dots li.slick-active button {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #BDBDBD;
}
.reviews .slick-dots button {
  display: block;
  font-size: 0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}
section.situation {
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  section.situation {
    margin-bottom: 150px;
  }
}

.situation h2 {
  margin-bottom: 28px;
}
@media only screen and (min-width: 1200px) {
  .situation h2 {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .situation__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    height: 453px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .place-middle {
    top: 39px;
  }

  .place-bottom {
    top: 149px;
  }
}
.situation__item {
  position: relative;
  width: 220px;
}
@media only screen and (min-width: 1200px) {
  .situation__item {
    width: 25%;
    max-width: 260px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.situation__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.situation__item .text {
  position: absolute;
  left: 0;
  bottom: 16px;
}
section.youtube {
  background: #ECF4FF;
  padding-top: 29px;
  padding-bottom: 66px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  section.youtube {
    padding-top: 80px;
    margin-bottom: 150px;
    padding-bottom: 112px;
  }
}

.youtube h2 {
  margin-bottom: 26px;
}
@media only screen and (min-width: 1200px) {
  .youtube h2 {
    margin-bottom: 78px;
  }
}

.youtube__decor {
  z-index: 1;
  position: absolute;
}
.youtube__decor.top-left {
  max-width: 103px;
  left: -71px;
  bottom: 185px;
}
@media only screen and (min-width: 576px) {
  .youtube__decor.top-left {
    max-width: 139px;
    left: -80px;
    bottom: 232px;
  }
}
@media only screen and (min-width: 768px) {
  .youtube__decor.top-left {
    max-width: 219px;
  }
}
@media only screen and (min-width: 1200px) {
  .youtube__decor.top-left {
    max-width: 346px;
    left: -163px;
    bottom: 399px;
  }
}
.youtube__decor.bottom-left {
  max-width: 183px;
  left: -97px;
  bottom: 6px;
}
@media only screen and (min-width: 768px) {
  .youtube__decor.bottom-left {
    max-width: 269px;
    bottom: -50px;
  }
}
@media only screen and (min-width: 1200px) {
  .youtube__decor.bottom-left {
    max-width: 527px;
    left: -225px;
    bottom: -187px;
  }
}
.youtube__decor.top-right {
  max-width: 106px;
  right: -72px;
  bottom: 171px;
}
@media only screen and (min-width: 576px) {
  .youtube__decor.top-right {
    max-width: 139px;
    right: -79px;
    bottom: 242px;
  }
}
@media only screen and (min-width: 768px) {
  .youtube__decor.top-right {
    max-width: 219px;
  }
}
@media only screen and (min-width: 1200px) {
  .youtube__decor.top-right {
    max-width: 341px;
    right: -166px;
    bottom: 460px;
  }
}
.youtube__decor.bottom-right {
  max-width: 163px;
  right: -113px;
  bottom: 17px;
}
@media only screen and (min-width: 576px) {
  .youtube__decor.bottom-right {
    max-width: 186px;
    right: -122.5px;
    bottom: 23.5px;
  }
}
@media only screen and (min-width: 768px) {
  .youtube__decor.bottom-right {
    max-width: 286px;
    right: -122.5px;
    bottom: -50px;
  }
}
@media only screen and (min-width: 1200px) {
  .youtube__decor.bottom-right {
    max-width: 536px;
    right: -216px;
    bottom: -60px;
  }
}

.convert__block {
  padding-top: 20px;
}

.convert {
  position: relative;
  width: 288px;
  padding: 0 19px;
  margin: 0 auto;
  z-index: 2;
}
@media only screen and (min-width: 1200px) {
  .convert {
    width: 100%;
    max-width: 800px;
  }
}

.convert__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  padding: 5% 15.8% 6% 3%;
}
@media only screen and (min-width: 1200px) {
  .convert__video {
    padding: 38px 61px 36px 24px;
  }
}

.convert__frame {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
  pointer-events: none;
}

.ytp-large-play-button-bg {
  fill: red;
}

@media only screen and (min-width: 380px) and (max-width: 459px) {
  .convert {
    width: 354px;
  }

  .convert__video {
    padding: 5% 13.5% 6% 3%;
  }
}
@media only screen and (min-width: 460px) and (max-width: 1200px) {
  .convert {
    width: 428px;
  }

  .convert__video {
    padding: 5% 11.7% 5.8% 3%;
  }
}