.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0;
}

.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
}

.select2-results__option--selectable {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 1px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--group {
  padding: 0;
}

.select2-container--default .select2-results__option--disabled {
  color: #999;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFCCCCCC", GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFFFFFFF", GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
  outline: none;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option--group {
  padding: 0;
}

.select2-container--classic .select2-results__option--disabled {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Bold.ttf") format("ttf");
}
.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}
.icon--x8 {
  width: 8px;
  height: 4px;
}
.icon--x12 {
  width: 12px;
  height: 12px;
}
.icon--x14 {
  width: 14px;
  height: 14px;
}
.icon--x16 {
  width: 16px;
  height: 16px;
}
.icon--x18 {
  width: 18px;
  height: 18px;
}
.icon--x20 {
  width: 20px;
  height: 20px;
}
.icon--x22 {
  width: 22px;
  height: 22px;
}
.icon--x24 {
  width: 24px;
  height: 24px;
}
.icon--x36 {
  width: 36px;
  height: 36px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: Inter, sans-serif;
  background: #fff;
  color: #22262F;
}

.slick-slide {
  outline: 0 !important;
}

#main {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #22262F;
}

ol, ul {
  padding: 0;
  margin: 0;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 767px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1312px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-p {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap-p [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.bb-0 {
  border-bottom: 0 !important;
}

.pb-80 {
  padding-bottom: 80px;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 1.5);
}

.br {
  display: block;
}

.body-overflow {
  overflow: hidden;
}

.w-100 {
  width: 100% !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-weight: 400;
  line-height: 1.1;
}

.h1, h1 {
  font-size: 32px;
  font-weight: bold;
}

.h2, h2 {
  font-size: 32px;
  font-weight: 600;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 18px;
}

.h5, h5 {
  font-size: 16px;
}

.h6, h6 {
  font-size: 16px;
}

@media only screen and (min-width: 576px) {
  .h1, h1 {
    text-align: center;
    font-size: 36px;
  }

  .h2, h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .h1, h1 {
    font-size: 42px;
  }

  .h2, h2 {
    font-size: 36px;
  }
}
.text-center {
  text-align: center;
}

.text--note {
  margin-right: 24px;
}
.text--note .title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding: 6px;
  background: #FFF;
}
@media only screen and (min-width: 1200px) {
  .text--note .title {
    padding: 10px;
    font-size: 24px;
    line-height: 28px;
  }
}
.text--note .description {
  font-size: 14px;
  line-height: 150%;
  padding: 2px 6px;
  background: #FFF;
}
@media only screen and (min-width: 1200px) {
  .text--note .description {
    padding: 10px;
    font-size: 16px;
    line-height: 150%;
  }
}

.scroller {
  display: grid;
  grid-auto-columns: minmax(220px, auto);
  grid-gap: 20px;
  grid-auto-flow: column;
}
.scroller.row {
  margin: 0;
  overflow-x: auto;
}
.scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@media only screen and (min-width: 768px) {
  .scroller {
    grid-gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .scroller {
    display: block;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.btn {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  transition: 0.3s color ease, 0.3s background-color ease;
  height: 48px;
  padding: 0 46px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  margin: 0;
  text-align: center;
  border: 0;
  font-weight: 600;
  white-space: nowrap;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .btn {
    width: unset;
  }
}
.btn:disabled, .btn.disabled {
  cursor: default;
}
.btn--shadow {
  box-shadow: 0px 28px 25px rgba(0, 0, 0, 0.09), 0px 4px 6px rgba(0, 0, 0, 0.04);
}
.btn--icon-right .icon {
  margin-left: 8px;
}
.btn--icon-left .icon {
  margin-right: 8px;
}
.btn--box {
  width: 48px;
}
.btn--large {
  height: 56px;
  padding: 0 30px;
  font-size: 18px;
}
.btn--large.btn--box {
  width: 56px;
}
.btn--small {
  height: 40px;
  font-size: 13px;
  padding: 0 12px;
}
.btn--small.btn--box {
  width: 40px;
}
.btn--mini {
  height: 32px;
  font-size: 13px;
  padding: 0 12px;
}
.btn--mini.btn--box {
  width: 32px;
}
.btn--box {
  padding: 0;
}
.btn--red {
  color: #fff;
  background: #E91C2E;
}
.btn--red:hover {
  background: #FF0015;
}
.btn--red:active {
  background: #D11222;
}
.btn--red:disabled, .btn--red.disabled {
  background: rgba(34, 38, 47, 0.1);
}

.btn-r {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border-color ease;
  height: 48px;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  margin: 0;
  text-align: center;
  border: 1px solid;
  white-space: nowrap;
  font-weight: 600;
}
.btn-r:disabled, .btn-r.disabled {
  cursor: default;
}
.btn-r--icon-right .icon {
  margin-left: 8px;
}
.btn-r--icon-left .icon {
  margin-right: 8px;
}
.btn-r--box {
  width: 48px;
}
.btn-r--large {
  height: 56px;
  padding: 0 30px;
  font-size: 18px;
}
.btn-r--large.btn-r--box {
  width: 56px;
}
.btn-r--small {
  height: 40px;
  font-size: 13px;
  padding: 0 12px;
}
.btn-r--small.btn-r--box {
  width: 40px;
}
.btn-r--mini {
  height: 32px;
  font-size: 13px;
  padding: 0 12px;
}
.btn-r--mini.btn-r--box {
  width: 32px;
}
.btn-r--micro {
  height: 28px;
  font-size: 12px;
  padding: 0 10px;
}
.btn-r--micro.btn-r--box {
  width: 28px;
}
.btn-r--box {
  padding: 0;
}
.btn-r--red {
  color: #E91C2E;
  border-color: #E91C2E;
}
.btn-r--red:hover {
  color: #FF0015;
  border-color: #FF0015;
}
.btn-r--red:active {
  color: #D11222;
  border-color: #D11222;
}
.btn-r--red:disabled, .btn-r--red.disabled {
  color: rgba(34, 38, 47, 0.1);
  border-color: rgba(34, 38, 47, 0.1);
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}
.btn-group .btn,
.btn-group .btn-r {
  margin-bottom: 10px;
}
.btn-group .btn:not(:last-child),
.btn-group .btn-r:not(:last-child) {
  margin-right: 10px;
}

.header {
  margin-bottom: 27px;
}
@media only screen and (min-width: 1200px) {
  .header {
    margin-top: 41px;
    margin-bottom: 86px;
  }
}
.header a {
  transition: color 0.3s;
}
.header a:hover {
  transition: color 0.3s;
  color: #E91C2E;
}

.header__top {
  display: none;
  margin-bottom: 9px;
}
@media only screen and (min-width: 1200px) {
  .header__top {
    display: block;
  }
}
.header__top a {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__top-menu {
  display: flex;
}
.header__top-item {
  position: relative;
}
.header__top-item:first-child {
  margin-left: auto;
}
.header__top-item:not(:last-child) {
  margin-right: 36px;
}

.header__main {
  position: relative;
}
.header__main .row {
  margin-right: 0;
}
.header__main .header__logo {
  height: 30px;
}
.header__main .header__logo img {
  max-width: 100%;
}
.header__main .header__logo .logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #E91C2E;
}
.header__main .header__logo .header__hidden-menu {
  margin-top: 0;
}
@media only screen and (min-width: 1200px) {
  .header__main .header__logo {
    height: 50px;
    padding-right: 5px;
  }
}
.header__main-content {
  background: #D7E9F8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 16px;
}

.header__hidden-menu {
  display: none;
  position: absolute;
  max-height: 90vh;
  overflow: auto;
  width: calc(100% - 22px);
  padding: 16px;
  top: 50px;
  left: 17px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.header__hidden-menu:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1px;
  margin-left: -1rem;
  border-top: 1rem solid #E91C2E;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}
.header__hidden-menu a {
  display: block;
  font-size: 14px;
  text-align: left;
  height: auto;
  color: #000;
  font-weight: 400;
  transition: color 0.3s;
}
.header__hidden-menu a:not(:last-child) {
  margin-bottom: 4px;
}

.header__main-content .menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__main-content .menu .item {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header__main-content .menu .item:first-child {
  padding-left: 14px;
}
.header__main-content .menu .item:last-child {
  padding-right: 31px;
}

.header__form-inner {
  margin-left: auto;
  margin-right: 24px;
}

.form-search-header input {
  outline: none;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid #BACCDA;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-search-header input::-webkit-input-placeholder {
  color: #22262F;
}
.form-search-header input:-ms-input-placeholder {
  color: #22262F;
}
.form-search-header input::placeholder {
  color: #22262F;
}

.header__basket {
  position: relative;
  display: inline-block;
  float: left;
  width: 23px;
  height: 25px;
  background: #D7E9F8 url(/img/icons/basket.svg) no-repeat;
}
.header__basket input {
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 1;
  color: black;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 8px;
  vertical-align: top;
  text-align: center;
}

.footer {
  background-color: #D7E9F8;
  padding-top: 16px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}
.footer__top {
  margin-bottom: 12px;
}
@media only screen and (min-width: 992px) {
  .footer__top {
    margin-bottom: 48px;
  }
}
.footer__top a {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  transition: color 0.3s;
}
.footer__top a:hover {
  transition: color 0.3s;
  color: #E91C2E;
}
@media only screen and (min-width: 768px) {
  .footer__top a {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__top a {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.footer__top-col {
  margin-bottom: 8px;
}
.footer__bottom span {
  color: #798894;
  display: block;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 992px) {
  .footer__bottom span {
    font-size: 14px;
    line-height: 24px;
  }
}
.footer a.footer__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 992px) {
  .footer a.footer__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .footer__social {
    margin-left: 36px;
  }
}
.footer__social a:not(:last-child) {
  margin-right: 8px;
}