.footer 
  .footer__menu
    .main-container
      .flex-wrap-p
        .footer__col
          .footer__group-list
            h3 Catalog
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Spare parts
              li.footer__list-item
                a(href="").footer__list-link Forklift trucks
              li.footer__list-item
                a(href="").footer__list-link Warehouse technology
              li.footer__list-item
                a(href="").footer__list-link Self-propelled lifts
              li.footer__list-item
                a(href="").footer__list-link Attachments
              li.footer__list-item
                a(href="").footer__list-link Lubricants and auto chemistry
              li.footer__list-item
                a(href="").footer__list-link Traction batteries and chargers
              li.footer__list-item
                a(href="").footer__list-link Optional equipment
              li.footer__list-item
                a(href="").footer__list-link BU loaders
              li.footer__list-item
                a(href="").footer__list-link BU technique
        .footer__col
          .footer__group-list
            h3 Services
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Sale
              li.footer__list-item
                a(href="").footer__list-link Financing
              li.footer__list-item
                a(href="").footer__list-link Rentals
              li.footer__list-item
                a(href="").footer__list-link Redemption of equipment
              li.footer__list-item
                a(href="").footer__list-link Service
              li.footer__list-item
                a(href="").footer__list-link Delivery
          .footer__group-list
            h3 News
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Company's news
              li.footer__list-item
                a(href="").footer__list-link Market news
        .footer__col
          .footer__group-list
            h3 Directory
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Rules and guarantees
              li.footer__list-item
                a(href="").footer__list-link Regulations
              li.footer__list-item
                a(href="").footer__list-link Typical documents
              li.footer__list-item
                a(href="").footer__list-link FAQ
              li.footer__list-item
                a(href="").footer__list-link Column specialist
              li.footer__list-item
                a(href="").footer__list-link Tag Rubricator
              li.footer__list-item
                a(href="").footer__list-link Articles
              li.footer__list-item
                a(href="").footer__list-link Polls
              li.footer__list-item
                a(href="").footer__list-link Glossary
              li.footer__list-item
                a(href="").footer__list-link Brands
              li.footer__list-item
                a(href="").footer__list-link Technique comparisons
              li.footer__list-item
                a(href="").footer__list-link Equipment documentation
        .footer__col
          .footer__group-list
            h3 About company
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Contacts 
              li.footer__list-item
                a(href="").footer__list-link Your reliable partner
              li.footer__list-item
                a(href="").footer__list-link Acknowledgments
              li.footer__list-item
                a(href="").footer__list-link Recommendations
              li.footer__list-item
                a(href="").footer__list-link References (legal references)
              li.footer__list-item
                a(href="").footer__list-link Dealer certificates
              li.footer__list-item
                a(href="").footer__list-link Vacancies
              li.footer__list-item
                a(href="").footer__list-link Our dealers
              li.footer__list-item
                a(href="").footer__list-link  Our clients
  .footer__cont
    .main-container
      .footer__info-wrap
        ul.contacts-info
          li.contacts-info__item
            .contacts-info__label General
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label Technics
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label For spare parts:
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label Service
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
        button.btn.btn--red Write to the director
        ul.social
          li.social__item
            a(href="").social__link
              svg.icon.icon--facebook-s
                use(href="img/svg-sprite.svg#facebook-s") 
          li.social__item
            a(href="").social__link
              svg.icon.icon--instagram-s
                use(href="img/svg-sprite.svg#instagram-s") 
          li.social__item
            a(href="").social__link
              svg.icon.icon--youtube-s
                use(href="img/svg-sprite.svg#youtube-s") 
      .footer__lang-wrap
        .footer__lang
          p © 1992-2020 Sklad.ru LLC | INN: 7705851719, st. Dubininskaya, 20, building 1, Moscow, 115054, st. Bakovskaya, 16, O, Odintsovo, 143005
        .footer__lang-cont
          p!="<a href=''>Personal data processing policy.</a> Personal data is used on the site for the purpose of its functioning, and if you do not agree, you must leave the site. Continued use of the site will constitute your consent to the possible use of personal data."













