.footer 
  .footer__menu
    .main-container
      .flex-wrap-p
        .footer__col
          .footer__group-list
            h3 Каталог
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Запасные части
              li.footer__list-item
                a(href="").footer__list-link Вилочные погрузчики
              li.footer__list-item
                a(href="").footer__list-link Складская техника
              li.footer__list-item
                a(href="").footer__list-link Самоходные подъёмники
              li.footer__list-item
                a(href="").footer__list-link Навесное оборудование
              li.footer__list-item
                a(href="").footer__list-link Смазочные материалы и автохимия
              li.footer__list-item
                a(href="").footer__list-link Тяговые аккумуляторы и зарядные устройства
              li.footer__list-item
                a(href="").footer__list-link Дополнительное оборудование
              li.footer__list-item
                a(href="").footer__list-link Погрузчики БУ
              li.footer__list-item
                a(href="").footer__list-link Техника БУ
        .footer__col
          .footer__group-list
            h3 Услуги
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Продажа
              li.footer__list-item
                a(href="").footer__list-link Финансирование
              li.footer__list-item
                a(href="").footer__list-link Аренда
              li.footer__list-item
                a(href="").footer__list-link Выкуп техники
              li.footer__list-item
                a(href="").footer__list-link Сервис
              li.footer__list-item
                a(href="").footer__list-link Доставка
          .footer__group-list
            h3 Новости
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Новости компании
              li.footer__list-item
                a(href="").footer__list-link Новости рынка
        .footer__col
          .footer__group-list
            h3 Справочник
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Правила и гарантии
              li.footer__list-item
                a(href="").footer__list-link Нормативные документы
              li.footer__list-item
                a(href="").footer__list-link Типовые документы
              li.footer__list-item
                a(href="").footer__list-link Частые вопросы
              li.footer__list-item
                a(href="").footer__list-link Колонка специалиста
              li.footer__list-item
                a(href="").footer__list-link Рубрикатор тегов
              li.footer__list-item
                a(href="").footer__list-link Статьи
              li.footer__list-item
                a(href="").footer__list-link Опросы
              li.footer__list-item
                a(href="").footer__list-link Глоссарий
              li.footer__list-item
                a(href="").footer__list-link Бренды
              li.footer__list-item
                a(href="").footer__list-link Сравнения техники
              li.footer__list-item
                a(href="").footer__list-link Документация на технику
        .footer__col
          .footer__group-list
            h3 О компании
            ul.footer__list
              li.footer__list-item
                a(href="").footer__list-link Контакты   
              li.footer__list-item
                a(href="").footer__list-link Ваш надёжный партнёр
              li.footer__list-item
                a(href="").footer__list-link Благодарности
              li.footer__list-item
                a(href="").footer__list-link Рекомендации
              li.footer__list-item
                a(href="").footer__list-link Справки (юридические справки)
              li.footer__list-item
                a(href="").footer__list-link Дилерские грамоты
              li.footer__list-item
                a(href="").footer__list-link Вакансии
              li.footer__list-item
                a(href="").footer__list-link Наши дилеры
              li.footer__list-item
                a(href="").footer__list-link  Наши клиенты  
  .footer__cont
    .main-container
      .footer__info-wrap
        ul.contacts-info
          li.contacts-info__item
            .contacts-info__label Общий
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label Техника
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label По запчастям:
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
          li.contacts-info__item
            .contacts-info__label Сервис
            a(href="tel:8 800 250-83-33").contacts-info__phone 8 800 250-83-33
            br
            a(href="mailto:tehnika@sklad.ru").contacts-info__email tehnika@sklad.ru
        button.btn.btn--red Написать директору
        ul.social
          li.social__item
            a(href="").social__link
              svg.icon.icon--facebook-s
                use(href="img/svg-sprite.svg#facebook-s") 
          li.social__item
            a(href="").social__link
              svg.icon.icon--instagram-s
                use(href="img/svg-sprite.svg#instagram-s") 
          li.social__item
            a(href="").social__link
              svg.icon.icon--youtube-s
                use(href="img/svg-sprite.svg#youtube-s") 
      .footer__lang-wrap
        .footer__lang
          p © 1992-2020 ООО «Склад.ру» | ИНН:7705851719, 
            br
            | ул. Дубининская, д. 20, стр. 1, г. Москва, 115054,
            br
            | ул. Баковская, д.16,  О, г. Одинцово, 143005
        .footer__lang-cont
          p!="<a href=''>Политика в отношении обработки персональных данных.</a> Персональные данные используются на сайте в целях его функционирования, и если Вы не согласны, то должны покинуть сайт. Продолжение пребывания на сайте будет являться Вашим согласием на возможное использование персональных данных."













