.fixed-btn-group
	a(href="").btn.btn--gray.btn--box.btn--large.btn--shadow
		svg.icon.icon--x20
			use(href="img/svg-sprite.svg#compare-bold")
		span.badge.badge--red 3
	a(href="").btn.btn--gray.btn--box.btn--large.btn--shadow
		svg.icon.icon--x22
			use(href="img/svg-sprite.svg#star")
		span.badge 566
.header
	.header__top
		.main-container
			.header__inner
				.phone 
					span.phone__label Общий
					a(href="tel:8 925 097-87-34").phone__link 8 925 097-87-34
				.phone 
					span.phone__label По технике
					a(href="tel:8 925 097-87-34").phone__link 8 925 097-87-34
				.phone 
					span.phone__label По запчастям
					a(href="tel:8 925 097-87-34").phone__link 8 925 097-87-34
				.phone 
					span.phone__label По сервису
					a(href="tel:8 925 097-87-34").phone__link 8 925 097-87-34
				button.btn-r.btn-r--gray.btn-r--mini Перезвоните мне 
				a(href="mailto:info@sklad.ru").text-link-gray info@sklad.ru
	.main-container
		.header__cont
			a(href="").header__logo
				img(src="img/logo.png", alt="").header__logo-img
			form.search.header__search
				input(type="text" placeholder="Поиск").search__input
				button(type="submit").search__submit
					svg.icon.icon--search
						use(href="img/svg-sprite.svg#search")
			.lang
				.lang__active Eng 
					svg.icon
						use(href="img/svg-sprite.svg#angle-down")
				.lang__dropdown
					ul.lang__list
						li.lang__list-item
							a(href="").lang__list-link Ru
			.header__btn-group
				button.btn.btn--gray Invote to tender
				button.btn.btn--red Send request
		.header__nav
			button.btn.btn--red.header__btn-catalog
				svg.icon.icon--x14
					use(href="img/svg-sprite.svg#menu")
				| Сatalog
			ul.menu
				li.menu__item.menu__item--dropdown
					a(href="").menu__link Services
						svg.icon
							use(href="img/svg-sprite.svg#angle-down")
					.menu__dropdown
						ul.menu__list
							li.menu__list-item
								a.menu__list-link(href="") Продажа
							li.menu__list-item
								a.menu__list-link(href="") Финансирование
							li.menu__list-item
								a.menu__list-link(href="") Аренда
							li.menu__list-item
								a.menu__list-link.menu__list-link--active(href="") Выкуп техники
							li.menu__list-item
								a.menu__list-link(href="") Сервис
							li.menu__list-item
								a.menu__list-link(href="") Доставка
				li.menu__item
					a(href="").menu__link Sales
				li.menu__item
					a(href="").menu__link News
				li.menu__item.menu__item--dropdown
					a(href="").menu__link Handbook
						svg.icon
								use(href="img/svg-sprite.svg#angle-down")
					.menu__dropdown
						ul.menu__list
							li.menu__list-item
								a.menu__list-link(href="") Продажа
							li.menu__list-item
								a.menu__list-link(href="") Финансирование
							li.menu__list-item
								a.menu__list-link(href="") Аренда
							li.menu__list-item
								a.menu__list-link(href="") Выкуп техники
							li.menu__list-item
								a.menu__list-link(href="") Сервис
							li.menu__list-item
								a.menu__list-link(href="") Доставка
				li.menu__item.menu__item--dropdown
					a(href="").menu__link About us
						svg.icon
							use(href="img/svg-sprite.svg#angle-down")
					.menu__dropdown
						ul.menu__list
							li.menu__list-item
								a.menu__list-link(href="") Продажа
							li.menu__list-item
								a.menu__list-link(href="") Финансирование
							li.menu__list-item
								a.menu__list-link(href="") Аренда
							li.menu__list-item
								a.menu__list-link(href="") Выкуп техники
							li.menu__list-item
								a.menu__list-link(href="") Сервис
							li.menu__list-item
								a.menu__list-link(href="") Доставка
				li.menu__item
					a(href="").menu__link Contacts
				li.menu__item
					a(href="").menu__link.menu__link--active Parts online store
