footer.footer
  .container
    .footer__top
      .row           
        .col-xs-6.col-sm-6.col-lg-6.footer__top-col
          a(href="#").footer__title Компания сегодня
          .row
            .col-6.footer__top-col_col
              a(href="#") О компании
              a(href="#") Ценности компании

            .col-6.footer__top-col_col
              a(href="#") Новости
              a(href="#") Конкурсы

            .col-6.footer__top-col_col
              a(href="#") Наши бренды
              a(href="#") Каталоги

            .col-6.footer__top-col_col
              a(href="#") Обзоры
              a(href="#") Контакты

        .col-xs-6.col-sm-6.col-lg-6.footer__top-col
          a(href="#").footer__title Поддержка
          .row
            .col-6.footer__top-col_col
              a(href="#") Доставка
              a(href="#") Оплата
                                    
            .col-6.footer__top-col_col
              a(href="#") Программы скидок
              a(href="#") Обратная связь
                                  
            .col-6.footer__top-col_col
              a(href="#") Отследить заказ
              a(href="#") Возврат
                                
            .col-6.footer__top-col_col
              a(href="#") Политика конфиденциальности
              a(href="#") Условия приобретения товаров в интернет-магазине ErichKrause

                                            

                                         

    .footer__bottom
      .row
        .col-6.col-lg-5
          span © ErichKrause, 2021. Все права защищены

        .col-6
          .footer__social
            a(href="https://www.facebook.com/erichkrauserussia/", aria-hidden="true", target="_blank")
              img(src="/img/icons/facebook.svg")
            a(href="http://vk.com/erichkrause_ru", aria-hidden="true", target="_blank")
              img(src="/img/icons/vk.svg")
            a(href="https://www.youtube.com/c/erichkrausechannel", aria-hidden="true", target="_blank")
              img(src="/img/icons/youtube.svg")
            a(href="https://www.instagram.com/erichkrause_company/", aria-hidden="true", target="_blank") 
              img(src="/img/icons/instagram.svg")                      



