section.situation
  .container
    h2(data-aos="fade-down", data-aos-once="true").aos Zip-пакеты в любой ситуации
    .situation__items.scroller.row 
      div(data-aos="fade-right", data-aos-once="true").aos.situation__item 
        img(src="/img/situation/situation1.jpg", alt="")
        .text.text--note
          span.title На учёбе
          .description Пластичная молния легко гнётся и не ломается

      div(data-aos="fade-right", data-aos-delay="100", data-aos-once="true").aos.situation__item.place-bottom 
        img(src="/img/situation/situation2.jpg", alt="")
        .text.text--note
          span.title Дома
          .description Устойчивый бегунок не вылетит с молнии

      div(data-aos="fade-right", data-aos-delay="200", data-aos-once="true").aos.situation__item.place-middle 
        img(src="/img/situation/situation3.jpg", alt="")
        .text.text--note
          span.title На работе
          .description Бегунок двигается мягко, будто скользит по молнии

      div(data-aos="fade-right", data-aos-delay="300", data-aos-once="true").aos.situation__item.place-bottom 
        img(src="/img/situation/situation4.jpg", alt="")
        .text.text--note
          span.title В путешествии
          .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка
