@import "../../scss/includes/variables";
@import "../../scss/includes/helpers";

section.situation {
  margin-bottom: 60px;
  @include xl() {
    margin-bottom: 150px;
  }
}

.situation h2 {
  margin-bottom: 28px;
  @include xl() {
    margin-bottom: 80px;
  }
}

.situation__items {
  @include xl() {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    height: 453px;
    justify-content: space-between;
  }
}

  @include xl() {
    .place-middle {
      top: 39px;
    }
    .place-bottom {
      top: 149px;
    }
  }


.situation__item {
  position: relative;
  width: 220px;

  @include xl() {
    width: 25%;
    max-width: 260px;
    height: fit-content;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    left: 0;
    bottom: 16px;
  }
}
