section.situation
  .container
    h2 Zip-пакеты в любой ситуации
    .situation__items.scroller.row 
      .situation__item 
        img(src="/img/situation/situation1.jpg", alt="")
        .text
          span.title На учёбе
          .description Пластичная молния легко гнётся и не ломается
      .situation__item.place-bottom 
        img(src="/img/situation/situation2.jpg", alt="")
        .text
          span.title Дома
          .description Устойчивый бегунок не вылетит с молнии
      .situation__item.place-middle 
        img(src="/img/situation/situation3.jpg", alt="")
        .text
          span.title На работе
          .description Бегунок двигается мягко, будто скользит по молнии
      .situation__item.place-bottom 
        img(src="/img/situation/situation4.jpg", alt="")
        .text
          span.title В путешествии
          .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка
