section.collections
  .container
    h2 Цвета и коллекции на любой вкус
    .collections__grid 
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/clearpvc.png", alt="") 
        .title Clear PVC
      .collection__card 
        .image 
          img(src="/img/collections/clear.png", alt="")
        .title Clear
      .collection__card 
        .image 
          img(src="/img/collections/vivid.png", alt="")
        .title Vivid
      .collection__card 
        .image 
          img(src="/img/collections/icemetallic.png", alt="")
        .title Ice Metallic
      .collection__card 
        .image 
          img(src="/img/collections/neon.png", alt="")
        .title Neon
      .collection__card 
        .image 
          img(src="/img/collections/pastel.png", alt="")
        .title Pastel

    .collections__go-catalog 
      a(href="#").btn.btn--red В каталог