section.collections
  .container
    h2(data-aos="fade-down", data-aos-once="true").aos Цвета и коллекции на любой вкус
    div(data-aos="fade-right", data-aos-once="true").collections__grid.aos
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/clearpvc.png", alt="") 
        .title Clear PVC
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/clear.png", alt="")
        .title Clear
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/vivid.png", alt="")
        .title Vivid
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/icemetallic.png", alt="")
        .title Ice Metallic
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/neon.png", alt="")
        .title Neon
      a(href="#").collection__card 
        .image 
          img(src="/img/collections/pastel.png", alt="")
        .title Pastel

    div(data-aos="fade-down", data-aos-once="true").collections__go-catalog.aos 
      a(href="#").btn.btn--red В каталог