section.reviews
  .container
    h2 Отзывы наших клиентов
    div(data-slick="{'slidesToShow': 3, 'slidesToScroll': 3}").slider
      .slide
        h3.slide__title Лариса
        ul.stars
          - for (var x = 0; x < 5; x++)
            li
        p.slide__text Заказала ребёнку в школу фартук Funny Racoon. Всё замечательно, рисунок чёткий, все завязки на месте. Сначала показалось, что нарукавни очень узкие, но когда ребёнок одел все подошло, ничего не давит, хотя мой мальчик не худой. Спасибо за отличный товар.

      .slide
        h3.slide__title Марина
        ul.stars
          - for (var x = 0; x < 5; x++)
            li
        p.slide__text Заказала ребёнку в школу фартук Funny Racoon. Всё замечательно, рисунок чёткий, все завязки на месте. Сначала показалось, что нарукавни очень узкие, но когда ребёнок одел все подошло, ничего не давит, хотя мой мальчик не худой. Спасибо за отличный товар.

      .slide
        h3.slide__title Алексей
        ul.stars
          - for (var x = 0; x < 5; x++)
            li
        p.slide__text Заказала ребёнку в школу фартук Funny Racoon. Всё замечательно, рисунок чёткий, все завязки на месте. Сначала показалось, что нарукавни очень узкие, но когда ребёнок одел все подошло, ничего не давит, хотя мой мальчик не худой. Спасибо за отличный товар.

      .slide
        h3.slide__title Инна
        ul.stars
          - for (var x = 0; x < 5; x++)
            li
        p.slide__text Заказала ребёнку в школу фартук Funny Racoon. Всё замечательно, рисунок чёткий, все завязки на месте. Сначала показалось, что нарукавни очень узкие, но когда ребёнок одел все подошло, ничего не давит, хотя мой мальчик не худой. Спасибо за отличный товар.

      .slide
        h3.slide__title Владимиръ
        ul.stars
          - for (var x = 0; x < 5; x++)
            li
        p.slide__text Заказала ребёнку в школу фартук Funny Racoon. Всё замечательно, рисунок чёткий, все завязки на месте. Сначала показалось, что нарукавни очень узкие, но когда ребёнок одел все подошло, ничего не давит, хотя мой мальчик не худой. Спасибо за отличный товар.

          
      