section.brand
  img(src="https://www.erichkrause.com/local/templates/tekstil/assets/img/brand/tape2.jpg", alt="").tape2 
  
  .container
    .content
      img(src="/img/brand/trophy-mini.png").cup-mini
      img(src="/img/brand/trophy.png").cup
      .inner.aos-init.aos-animate
        .caption 
          h2(data-aos="fade-right", data-aos-once="true").caption__title.aos ErichKrause® — бренд канцтоваров №1 в России
          p(data-aos="fade-right", data-aos-delay="200", data-aos-once="true").caption__text.aos По результатам ежегодного всероссийского репрезентативного опроса, проводимого аналитическим центром Юрия Левады («Левада-Центр»), ErichKrause® в пятый год подряд признается самым известным брендом канцелярских товаров в Российской Федерации.
