section.brand
  //- img(src="/img/trophy.png").tape1
  //- img(src="https://www.erichkrause.com/local/templates/tekstil/assets/img/brand/tape1.jpg", alt="").tape1 
  img(src="https://www.erichkrause.com/local/templates/tekstil/assets/img/brand/tape2.jpg", alt="").tape2 
  
  .container
    .content
      //- img(src="https://www.erichkrause.com/local/templates/tekstil/assets/img/brand/cup.png", alt="").cup 
      img(src="/img/brand/trophy-mini.png").cup-mini
      img(src="/img/brand/trophy.png").cup
      .inner.aos-init.aos-animate
        .caption 
          h2.caption__title ErichKrause® — бренд канцтоваров №1 в России
          p.caption__text По результатам ежегодного всероссийского репрезентативного опроса, проводимого аналитическим центром Юрия Левады («Левада-Центр»), ErichKrause® в пятый год подряд признается самым известным брендом канцелярских товаров в Российской Федерации.
