section.format
  .container 
    h2(data-aos="fade-down", data-aos-once="true").aos Форматы на любой случай
    .tabs(data-aos="fade-right", data-aos-once="true").aos
      .tab.tab--active#tab1
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text  Тетрадь А4, 6 карандашей, 6 ручек, ножницы и линейка 30 см.
      .tab#tab2
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text Тетрадь для нот, ножницы, ручка и линейка 20 см
      .tab#tab3
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text Тетрадь А4, 6 карандашей, 6 ручек, ножницы и линейка 30 см.
      .tab#tab4
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text 5 стандартных тетрадей, наборов карандашей, линеек и ножниц
      .tab#tab5
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text Таблетки, медикаменты, пластыри и градусник
      .tab#tab6
        img(src="/img/format/Screenshot.jpg", alt="").tab___image
        p.tab__text Заграничный паспорт, посадочный талон, наушники и ручка

      ul.tabs-list
        li.tabs-list__item
          a(class='tabs-list__link tabs-list__link--active' href='#tab1') 
            .item__title A4
            .item__subtitle Тетрадь А4, 6 карандашей, 6 ручек, ножницы и линейка 30 см.
        li.tabs-list__item
          a(class='tabs-list__link' href='#tab2') 
            .item__title A5
            .item__subtitle Тетрадь для нот, ножницы, ручка и линейка 20 см
        li.tabs-list__item
          a(class='tabs-list__link' href='#tab3') 
            .item__title B5
            .item__subtitle Тетрадь А4, 6 карандашей, 6 ручек, ножницы и линейка 30 см.
        li.tabs-list__item
          a(class='tabs-list__link' href='#tab4') 
            .item__title B6
            .item__subtitle 5 стандартных тетрадей, наборов карандашей, линеек и ножниц
        li.tabs-list__item
          a(class='tabs-list__link' href='#tab5') 
            .item__title C6
            .item__subtitle Таблетки, медикаменты, пластыри и градусник
        li.tabs-list__item
          a(class='tabs-list__link' href='#tab6') 
            .item__title Travel
            .item__subtitle Заграничный паспорт, посадочный талон, наушники и ручка