@import "../../scss/includes/variables";
@import "../../scss/includes/helpers";

.header {
  margin-bottom: 27px;
  @include xl() {
    margin-top: 41px;
    position: absolute;
    width: 100%;
  }
  a {
    transition: color .3s;
    &:hover {
      transition: color .3s;
      color: #E91C2E;
    }
  }
}

// header top line
.header__top {
  display: none;
  margin-bottom: 9px;

  @include xl() {
    display: block;
  }

  a {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  &-menu {
    display: flex;
  }

  &-item {
    padding: 0 16px;
    position: relative;
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      padding-right: 0;
    }
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .country-selector .dropdown__menu {
    min-width: 364px;
    left: -48px;
  }
  .header__auth .dropdown__menu {
    width: 160px;
  }
}

// links style
.dropdown__menu a.header__content-title {
  font-weight: bold;
}
.header__link {
  display: block;
}
.dropdown__menu a.header__link {
  padding-top: 0;
  padding-bottom: 0;
}
.header__link.active {
  color: $red;
}
.header__link.bold {
  font-weight: bold;
}

// header main
.header__main {
  width: 100%;
  background: $skyBlue;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 199;
  }

  @include xl() {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
  }

  .container {
    @include xl() {
      position: relative;
    }
  }

  .row {
    margin-right: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include sm() {
      justify-content: center;
    }
    @include xl() {
      flex-wrap: wrap;
    }
  }

  &-content {
    background: $skyBlue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6px;
    padding-left: 16px;
    width: fit-content;
  }
}

// header logo
  .header__logo {
    height: 30px;
    max-width: 141px;
    
    @include xl() {
      max-width: unset;
      height: 50px;
      padding-right: 5px;
      &:after {
        content: "";
        width: 5px;
        height: 100%;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    img {
      max-width: 100%;
      height: 100%;
    }

    .logo-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: $red;
    }

    .dropdown__menu {
      margin-top: 0;
      top: 50px;
      left: 17px;
      width: calc(100% - 22px);
    }
    
  }

// burger menu
.header__burger {
  @include xl() {
    display: none;
  }

  button {
    background: transparent;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $red;
    font-weight: bold;

    svg {
      width: 100%;
      height: 100%;
      max-width: 30px;
      fill: $red;
    }
  }
}

// mobile menu
.header__menu-mobile {
  position: absolute;
  top: 46px;
  left: -280px;
  background-color: $skyBlue;
  box-sizing: border-box;
  width: 73%;
  max-width: 280px;
  height: 100vh;
  z-index: 500;
  overflow-y: auto;
  overflow-x: hidden;

  @include xl() {
    display: none;
  }
}

.menu-mobile__wrapper {
  padding: 16px;
}

.menu-mobile__block {
  margin-bottom: 16px;

  &.social {
    .header__link {
      margin-bottom: 4px;
      img {
        width: 25px;
      }
    }
  }
}

// выпадающие меню
.dropdown {
  position: relative;
  .dropdown-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.dropdown__menu {
  display: none;
  position: absolute;
  padding: 16px;
  left: 0;
  max-height: 90vh;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 75%);
  z-index: 99;

  &:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -1px;
    margin-left: -1rem;
    border-top: 1rem solid #E91C2E;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
  }

  a {
    display: block;
    font-size: 14px;
    text-align: left;
    height: auto;
    color: #000;
    font-weight: 400;
    transition: color .3s;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

// general menu
.header__main-content {
  position: unset;
  .menu {
    display: none;

    @include xl() {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }

    .header__content-col {
      width: 20%;
      padding: 16px;
    }

    .header__content-category {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .item {
      position: unset;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      &:first-child {
        padding-left: 14px;
      }
      &:last-child {
        padding-right: 31px;
      }
    }

    .header__main-submenu {
      &:before {
        display: none;
      }
      position: absolute;
      top: 100%;
      left: 16px;
      width: 1280px;
    }
  }
}

// search
.header__form-inner {
  display: none;
  margin-left: auto;
  @include md() {
    display: block;
  }
}
.form-search-header {
  input {
    outline: none;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #BACCDA;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;

    &::placeholder {
      color: $colorDark;    
    }
  }
}

// search mobile
.header__form-inner_mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;

  .form-search-header {
    display: flex;
    justify-content: center;
    input {
      width: 100%;
      max-width: 400px;
      height: 32px;
      border: 1px solid $red;
      border-radius: 0;
    }
  }
}

// search button mobile
.header__search-button_mobile {
  background: transparent;
  padding-left: 16px;
  padding-right: 8px;
  @include md() {
    display: none;
  }
  img {
    position: relative;
    top: 2px;
    width: 25px;
  }
}

// basket
.header__basket-wrap {
  height: 100%;
  
  .dropdown-wrapper {
    height: 100%;
    padding: 0 12px;
    @include xl() {
      padding: 0 24px;
    }
  }
}
.header__basket {
  position: relative;
  display: flex;
  align-items: center;
  width: 23px;
  height: 100%;

  path {
    transition: stroke .3s ease;
  }

  &:hover path {
    stroke: $red;
    transition: stroke .3s ease;
  }
  &:hover input, &:hover input::placeholder {
    color: $red;
    transition: color .3s ease;
  }

  input {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 1;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 8px;
    vertical-align: top;
    text-align: center;
    transition: color .3s ease;
  }
}
.header__basket-content {
  width: 420px;
  height: 420px;
  right: -4px;
  left: unset;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 75%);
  background: #fff;
  z-index: 1000;
  &:before {
    display: none;
  }
}