//- вариант 1
section.main-block.main-block--type1
  .container
    .main-block__content.row 
      .main-block__image.col-xl-6 
        img(src="/img/main/main.png", alt="")
      .main-block__info.col-xl-6 
        h1.main-block__title Zip-конверты ErichKrause – организуйте со стилем
        p.main-block__text Цвета и универсальные форматы для любого случая
        .main-block__button
          button.btn.btn--red Подробнее

//- вариант 2
section.main-block.main-block--type2
  .container
    .main-block__content.row 
      .main-block__image.col-xl-6 
        img(src="/img/main/main.png", alt="")
      .main-block__info.col-xl-6 
        h1.main-block__title Zip-конверты ErichKrause – организуйте со стилем
        p.main-block__text Цвета и универсальные форматы для любого случая
        .main-block__button
          button.btn.btn--red Подробнее

//- вариант 3
section.main-block.main-block--type3
  .container
    .main-block__content 
      .main-block__info
        h1.main-block__title Zip-конверты ErichKrause – организуйте со стилем
        p.main-block__text Цвета и универсальные форматы для любого случая
      .main-block__image
        img(src="/img/main/main.png", alt="")
      .main-block__button
        button.btn.btn--red Подробнее 
      
