//- вариант 1
section.main-block.main-block--type1
  .container
    .main-block__content.row 
      .main-block__image.col-xl-6 
        img(src="/img/main/main.png", alt="")
      .main-block__info.col-xl-6 
        h1(data-aos="fade-right", data-aos-once="true").main-block__title.aos Zip-конверты ErichKrause – организуйте со стилем
        p(data-aos="fade-right", data-aos-delay="200", data-aos-once="true").main-block__text.aos Цвета и универсальные форматы для любого случая
        div(data-aos="fade-right", data-aos-delay="300", data-aos-once="true").main-block__button.aos
          button.btn.btn--red Подробнее
      
