extends ../pug/layout/layout.pug

block head
  link(rel="stylesheet", href="css/blocks.css")

block content
  include ../blocks/construction/construction
  include ../blocks/reliability/reliability
  include ../blocks/collections/collections
  include ../blocks/youtube/youtube
  include ../blocks/format/format
  include ../blocks/organization/organization
  include ../blocks/situation/situation
  include ../blocks/brand/brand

block scripts
  script(src="/blocks/format/format.js" type="text/javascript" charset="utf-8")
