extends ../pug/layout/layout.pug

block head
  link(rel="stylesheet", href="css/blocks.css")

block content
  include ../blocks/organization/organization
  include ../blocks/situation/situation
  include ../blocks/brand/brand
