.btn {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;  
  transition: 0.3s color ease, 0.3s background-color ease;
  height: 48px;
  padding: 0 46px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  margin: 0;
  text-align: center;
  border: 0;
  font-weight: 600;
  white-space: nowrap;
  width: 100%;

  @include sm() {
    width: unset;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }

  &--shadow {
    box-shadow: 0px 28px 25px rgba(0, 0, 0, 0.09),
      0px 4px 6px rgba(0, 0, 0, 0.04);
  }

  &--icon-right {
    .icon {
      margin-left: 8px;
    }
  }

  &--icon-left {
    .icon {
      margin-right: 8px;
    }
  }

  &--box {
    width: 48px;
  }

  &--large {
    height: 56px;
    padding: 0 30px;
    font-size: 18px;

    &.btn--box {
      width: 56px;
    }
  }

  &--small {
    height: 40px;
    font-size: 13px;
    padding: 0 12px;

    &.btn--box {
      width: 40px;
    }
  }

  &--mini {
    height: 32px;
    font-size: 13px;
    padding: 0 12px;

    &.btn--box {
      width: 32px;
    }
  }

  &--box {
    padding: 0;
  }

  &--red {
    color: #fff;
    background: $red;

    &:hover {
      background: $redLight;
    }

    &:active {
      background: $redDark;
    }

    &:disabled,
    &.disabled {
      background: $lightGray;
    }
  }

}

.btn-r {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  transition: 0.3s color ease, 0.3s background-color ease,
    0.3s border-color ease;
  height: 48px;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: 0;
  margin: 0;
  text-align: center;
  border: 1px solid;
  white-space: nowrap;
  font-weight: 600;

  &:disabled,
  &.disabled {
    cursor: default;
  }

  &--icon-right {
    .icon {
      margin-left: 8px;
    }
  }

  &--icon-left {
    .icon {
      margin-right: 8px;
    }
  }

  &--box {
    width: 48px;
  }

  &--large {
    height: 56px;
    padding: 0 30px;
    font-size: 18px;

    &.btn-r--box {
      width: 56px;
    }
  }

  &--small {
    height: 40px;
    font-size: 13px;
    padding: 0 12px;

    &.btn-r--box {
      width: 40px;
    }
  }

  &--mini {
    height: 32px;
    font-size: 13px;
    padding: 0 12px;

    &.btn-r--box {
      width: 32px;
    }
  }

  &--micro {
    height: 28px;
    font-size: 12px;
    padding: 0 10px;

    &.btn-r--box {
      width: 28px;
    }
  }

  &--box {
    padding: 0;
  }

  &--red {
    color: $red;
    border-color: $red;

    &:hover {
      color: $redLight;
      border-color: $redLight;
    }

    &:active {
      color: $redDark;
      border-color: $redDark;
    }

    &:disabled,
    &.disabled {
      color: $lightGray;
      border-color: $lightGray;
    }
  }

}

.btn-group {
  display: flex;
  flex-wrap: wrap;

  .btn,
  .btn-r {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
