$font-size:                   16px;

$font-size-h1:                32px;
$font-size-h2:                32px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;
$font-size-h6:                16px;

$font-size-h1-sm:                36px;

$font-size-h1-xl:                44px;
$font-size-h2-xl:                36px;


// color
$colorDark: #22262F;
$blue: #ECF4FF;
$skyBlue: #D7E9F8;
$red: #E91C2E;
$redLight: #FF0015;
$redDark: #D11222;
$lightGray: rgba(34, 38, 47, 0.1);