@import "../../scss/includes/variables";
@import "../../scss/includes/helpers";

section.youtube {
  background: $blue;
  padding-top: 29px;
  padding-bottom: 66px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  @include xl() {
    padding-top: 80px;
    margin-bottom: 150px;
    padding-bottom: 112px;
  }
}

.youtube h2 {
  margin-bottom: 26px;
  @include xl() {
    margin-bottom: 78px;
  }
}

// decor photos in corners
.youtube__decor {
  z-index: 1;
  position: absolute;

  &.top-left {
    max-width: 103px;
    left: -71px;
    bottom: 185px;

    @include sm() {
      max-width: 139px;
      left: -80px;
      bottom: 232px;
    }

    @include md() {
      max-width: 219px;
    }

    @include xl() {
      max-width: 346px;
      left: -163px;
      bottom: 399px;
    }
  }
  &.bottom-left {
    max-width: 183px;
    left: -97px;
    bottom: 6px;

    @include md() {
      max-width: 269px;
      bottom: -50px
    }

    @include xl() {
      max-width: 527px;
      left: -225px;
      bottom: -187px;
    }
  }
  &.top-right {
    max-width: 106px;
    right: -72px;
    bottom: 171px;
    
    @include sm() {
      max-width: 139px;
      right: -79px;
      bottom: 242px;
    }

    @include md() {
      max-width: 219px;
    }

    @include xl() {
      max-width: 341px;
      right: -166px;
      bottom: 460px;
    }
  }
  &.bottom-right {
    max-width: 163px;
    right: -113px;
    bottom: 17px;

    @include sm() {
      max-width: 186px;
      right: -122.5px;
      bottom: 23.5px;
    }

    @include md() {
      max-width: 286px;
      right: -122.5px;
      bottom: -50px;
    }

    @include xl() {
      max-width: 536px;
      right: -216px;
      bottom: -60px;
    }
  }

}

// convert and video
.convert__block {
  padding-top: 20px;
}

.convert {
  position: relative;
  width: 288px;
  padding: 0 19px;
  margin: 0 auto;
  z-index: 2;

  @include xl() {
    width: 100%;
    max-width: 800px;
  }
}

.convert__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  padding: 5% 15.8% 6% 3%;

  @include xl() {
    padding: 38px 61px 36px 24px;
  }
}

.convert__frame {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  z-index: 3;
  pointer-events: none;
}

.ytp-large-play-button-bg {
  fill: red;
}

@media only screen and (min-width: 380px) and (max-width: 459px) {
  .convert{
    width: 354px;
  }

  .convert__video {
    padding: 5% 13.5% 6% 3%;
  }
}

@media only screen and (min-width: 460px) and (max-width: 1200px) {
  .convert{
    width: 428px;
  }

  .convert__video {
    padding: 5% 11.7% 5.8% 3%;
  }
}