section.youtube
  .container
    h2(data-aos="fade-down", data-aos-once="true").aos 15 идей, которые помогут навести порядок
    .convert__block
      .convert(data-aos="fade-right", data-aos-once="true").aos
        iframe( width="560" height="315" src="https://www.youtube.com/embed/0rjUKcBCrBk" frameborder="0").convert__video
        img(src="/img/youtube/convert-frame.png").convert__frame
  img(src="/img/youtube/top-left.png", alt="").youtube__decor.top-left
  img(src="/img/youtube/bot-left.png", alt="").youtube__decor.bottom-left
  img(src="/img/youtube/top-right.png", alt="").youtube__decor.top-right
  img(src="/img/youtube/bot-right.png", alt="").youtube__decor.bottom-right
        