@import "../../scss/includes/variables";
@import "../../scss/includes/helpers";

section.reliability {
  margin-bottom: 60px;
  @include xl() {
    margin-bottom: 150px;
  }
}

.reliability h2 {
  margin-bottom: 28px;
  @include xl() {
    margin-bottom: 45.26px;
  }
}

.reliability.scroller {
  display: grid;
  grid-template-columns: 200px 200px 208px 227px;
  grid-gap: 28px;
  grid-auto-flow: column;

    &.row {
      margin: 0;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

  @include md() {
    grid-gap: 20px;
  }

  @include xl() {
    display: block;
  }
}

.reliability__item {
  width: 100%;

  .image {
    margin-bottom: 20px;
    max-width: 200px;

     img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 7px;
    }
    .description {
      font-size: 14px;
      line-height: 150%;
    }
  }
 
}