section.reliability
  .container
    h2(data-aos="fade-down", data-aos-once="true").aos.reliability__header Надёжная молния

  .container 
    ol.scroller.row.reliability__wrapper

      .reliability__item.reliability__fade
        .reliability__item-left
          .reliability__sticky
            .text
              li.span.title Гнёт свою линию
              .description Пластичная молния легко гнётся и не ломается
        .reliability__item-right.scroller.row 
          .image
            img(src="/img/reliability/Rectangle1.png", alt="")

      .reliability__item.reliability__fade
        .reliability__item-left
          .reliability__sticky
            .text
              li.span.title Не ускользнёт
              .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка зип-лок.
        .reliability__item-right.scroller.row 
          .image
            img(src="/img/reliability/Rectangle2.png", alt="")

      .reliability__item.reliability__fade
        .reliability__item-left
          .reliability__sticky
            .text
              li.span.title Двигается плавно
              .description Бегунок двигается мягко, будто скользит по молнии.
        .reliability__item-right.scroller.row 
          .image
            img(src="/img/reliability/Rectangle3.png", alt="")

      .reliability__item.reliability__fade
        .reliability__item-left
          .reliability__sticky
            .text
              li.span.title Сохранит в чистоте
              .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка зип-лок.
        .reliability__item-right.scroller.row 
          .image
            img(src="/img/reliability/Rectangle4.png", alt="")