section.reliability
  .container
    .reliability__item-left
      .reliability__sticky
        h2.reliability__header Надёжная молния

    ol.reliability__item-right.scroller.row 
      .reliability__item.reliability__fade
        .image
          img(src="/img/reliability/Rectangle1.png", alt="")
        .text
          li.span.title Гнёт свою линию
          .description Пластичная молния легко гнётся и не ломается
      .reliability__item.reliability__fade
        .image
          img(src="/img/reliability/Rectangle2.png", alt="")
        .text
          li.span.title Не ускользнёт
          .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка зип-лок.
      .reliability__item.reliability__fade
        .image
          img(src="/img/reliability/Rectangle3.png", alt="")
        .text
          li.span.title Двигается плавно
          .description Бегунок двигается мягко, будто скользит по молнии. 
      .reliability__item.reliability__fade
        .image
          img(src="/img/reliability/Rectangle4.png", alt="")
        .text
          li.span.title Сохранит в чистоте
          .description Пакет не пропускает пыль и грязь из-за плотного закрытия замка зип-лок.