@import "../../scss/includes/variables";
@import "../../scss/includes/helpers";

section.organization {
  margin-bottom: 60px;
  @include xl() {
    margin-bottom: 150px;
  }
}

.organization h2 {
  margin-bottom: 25px;
  @include xl() {
    margin-bottom: 74px;
  }
}

.organization__items {
  display: flex;
  flex-direction: column;
  @include lg() {
    flex-direction: row;
  }
}

.organization__item {
  width: 74%;
  max-width: 280px;
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    left: 0;
    bottom: 27px;
    font-size: 12px;
    padding: 7.5px;
    line-height: 18px;
    background: #fff;
    @include lg() {
      font-size: 16px;
      line-height: 150%;
      padding: 16px;
    }
    @include xl() {
      font-size: 22px;
      line-height: 150%;
      padding: 30px;
    }
  }

  @include sm() {
    max-width: 408px;
  }
  @include xl() {
    max-width: 564px;
  }
}

// first image
.place-left {
  margin-bottom: 20px;
  .text {
    margin-right: 20px;
  }
  @include lg() {
    .text {
      bottom: 69px;
      margin-right: 127px;
    }
    margin-bottom: 134px;
  }
}

// second image
.place-right {
  margin-left: auto;

  .text {
    position: absolute;
    right: 0;
    bottom: 20px;
    margin-left: 53px;
    margin-right: 0;
    @include lg() {
      margin-left: 188px;
    }
  }

  @include lg() {
    .text {
      bottom: 32px;
      margin-left: 144px;
    }
    margin-top: 134px;
  }
  @include xl() {
    .text {
      margin-left: 188px;
    }
  }
}