section.organization
  .container
    h2 Организация на высоте — это просто!
    .organization__items
      .organization__item.place-left
        img(src="/img/organization/organization1.jpg", alt="")
        span.text Классифицируйте документы, домашние мелочи и другие вещи, используя разные цвета.
      .organization__item.place-right
        img(src="/img/organization/organization2.jpg", alt="")
        span.text Быстро находите нужные вещи, не открывая zip-пакет.