section.organization
  .container
    h2(data-aos="fade-down", data-aos-once="true").aos Организация на высоте — это просто!
    .organization__items
      div(data-aos="fade-right", data-aos-once="true").organization__item.place-left
        img(src="/img/organization/organization1.jpg", alt="")
        span.text Классифицируйте документы, домашние мелочи и другие вещи, используя разные цвета.

      div(data-aos="fade-left", data-aos-once="true").organization__item.place-right
        img(src="/img/organization/organization2.jpg", alt="")
        span.text Быстро находите нужные вещи, не открывая zip-пакет.